* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url(../img/bg.jpg);
}

/* BUILD LAYOUT */
#container {
    margin-top: 240px;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.personal-infor {
    width: 400px;
    height: 734px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    border-radius: 20px;
}

.nav {
    width: 560px;
    height: 144px;
    margin-bottom: 40px;
    background: #fff;
    border-radius: 16px;
}

.main-content {
    width: 850px;
    height: 1345px;
    background: #fff;
    border-radius: 20px;
}

/* CSS DETAIL */
/* PERSONAL INFORMATION */
.main-infor {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar {
    width: 240px;
    height: 240px;
    margin-top: -120px;
    filter: drop-shadow(0px 10px 22px rgba(0, 0, 0, 0.1));
    border-radius: 20px;
}

.name {
    padding-top: 20px;
    color: #000;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 34px;
    text-align: center;
}

.designation {
    margin-top: 15px;
    display: inline-block;
    text-align: center;
    background: #F3F6F7;
    border-radius: 8px;
}

.designation p {
    padding: 5px 20px;
    color: #000;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

/* PERSONAL INFORMATION - SOCIAL ICONS */
.social-icons {
    padding-top: 20px;
    display: flex;
}

.social-icon-item {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F3F6F7;
    border-radius: 8px;
}

.social-icons:last-child {
    margin-left: 0;
}

/* PERSONAL INFORMATION - CART */
.cart {
    width: 340px;
    padding: 30px 0;
}

.cart ul {
    padding: 20px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    list-style: none;
    background: #F3F6F6;
    border-radius: 16px;
}

.box-cart {
    display: flex;
}

.icon-cart {
    width: 44px;
    height: 44px;
    margin-right: 10px;
    background: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-cart .tittle {
    color: #44566C;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}

.content-cart .detail {
    color: #000;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.line-cart {
    width: 280px;
    padding: 10px 0;
    border-bottom: 1px solid #e3e3e3;
}

.cart li:last-child {
    padding-top: 10px;
}

/* PERSONAL INFORMATION - DOWNLOAD CV BUTTON */
.downloadcv {
    width: 215px;
    height: 55px;
    background: linear-gradient(93.74deg, #FA5252 0%, #DD2476 100%);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.downloadcv p {
    color: #FFF;
    margin-left: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* NAVIGATION */
.nav a {
    width: 84px;
    height: 84px;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: #F3F6F6;
    border-radius: 12px;
    text-decoration: none;
}

.nav img {
    width: 25px;
    height: 25px;
}

.nav p {
    color: #44566C;
    margin-top: -5px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
}

.nav .works p {
    color: #fff;
}

.nav .works {
    background: linear-gradient(93.74deg, #FA5252 0%, #DD2476 100%);
}

.nav a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

/* MAIN CONTENT */
.works-section {
    margin: 60px 60px 30px;
}

.section-tittle {
    color: #000;
    display: inline-block;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 53px;
}

.bar {
    margin-left: 30px;
    margin-bottom: 10px;
}

/* MAIN CONTENT - PORTFOLIO NAVIGATION */
.portfolio-nav {
    width: 367px;
    margin-top: 34px;
    display: flex;
    justify-content: space-evenly;
    float: right;
}

.portfolio-nav a {
    color: #44566C;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
}

.portfolio-nav a:hover {
    color: rgba(0, 0, 0, 0.1)
}

.portfolio-nav a:first-child {
    color: #FA5252;
}

/* MAIN CONTENT - PORTFOLIO CONTENT */
.portfolio-content {
    margin-top: 90px;
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
}

.single-port {
    width: 350px;
    margin-bottom: 30px;
    border-radius: 12px;
}

.img-01 {
    height: 166px;
}

.img-02 {
    height: 216px;
}

.img-03 {
    height: 266px;
}

.img-01,
.img-02,
.img-03 {
    width: 310px;
    border-radius: 10px;
}

.bg-01 {
    height: 270px;
    background: #FFF0F0;
}

.bg-02 {
    height: 370px;
    background: #FFF3FC;
}

.bg-03 {
    height: 370px;
    margin-top: -100px;
    background: #E9FAFF;
}

.bg-04 {
    height: 320px;
    background: #FFFAE9;
}

.bg-05 {
    height: 320px;
    margin-top: -50px;
    background: #FCF4FF;
}

.bg-06 {
    height: 270px;
    background: #FFF0F8;
}

.content-port {
    margin: 20px;
}

.sub-tittle-port {
    margin-top: 20px;
    color: #44566C;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-transform: capitalize;
}

.tittle-port {
    color: #000;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
}

/* COPYRIGHT */
.copyright {
    /* height: 68px; */
    background: #F8FBFB;
    border-radius: 0px 0px 20px 20px;
}

.copyright p {
    padding: 20px 0;
    color: #44566C;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
}